.teste{
  display: flex;
}

.App {
  text-align: center;
  text-align: left;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  background-color: ;
}

.list{
  margin-top: 30px;
}

.list table,tr,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 4px;
}

.form button{
  margin-top: 8px;
  max-width: 200px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
